# my
ignore/
temporary/ 
notes.txt 
TODO

# nix
result
result/

# Emacs
*.elc 
\#*
*~
.#*
\#*\#
*.log
TAGS
.projectile
.emacs.desktop
.emacs.desktop.lock
auto-save-list/ 
elpa/ 
melpa/

# OS X
.DS_Store

